@model List<Product>

<div class="row">
    <div class="col-md-3">
        <div id="list-category">

        </div>
    </div>
    <div class="col-md-9">
        <div class="row">
            <partial name="ProductPartial" />
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        $("#list-category").load("/Product/getCategory")
    </script>
}