@model List<Product>
@{
    ViewData["CATEGORY_NAME"] = ViewBag.CATEGORY_NAME;
}

<div class="row mt-3">
    <div id="category-list" class="col-md-3">
        <h3>List Product</h3>
        <ul class="list-group">
            @foreach (var c in (List<CategoryViewModel>)ViewBag.listCategory)
            {
                <li class="list-group-item p-0">
                    <a href="#" data-catid="@c.Id" class="catid-item d-flex justify-content-between align-items-center px-3 py-2 w-100 d-block text-decoration-none">
                        @c.Name
                        <span class="badge bg-primary rounded-pill">@c.TotalProduct</span>
                    </a>
                </li>
            }
        </ul>

    </div>
    <div class="col-md-9">
        <div id="product-list">
            @await Html.PartialAsync("ProductPartial", Model, ViewData)
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(".catid-item").click(function (evt) {
            evt.preventDefault();
            let catid = $(this).data("catid");
            $.ajax({
                url: "/Customer/Product/LoadPartial",
                data: { catid: catid },
                success: function (data) {
                    $("#product-list").html(data);
                }
            });
        });
    </script>
}